 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/new.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div id="form-main">
        <div id="form-div">
            <div class="title" > Add New Race</h1>
          <form method="POST" action="/new" class="form" id="form1" >
            
            <p class="name">
              <input name="title" type="text" class="input" placeholder="Title" id="name"/>
            </p>
            
            <p class="email">
              <input name="year" type="text" class="input" id="email" placeholder="Year " />
            </p>
            
            <div class="submit">
              <!-- <button> Submit </button> -->
              <input type="submit" value="Add" id="button-blue"/>
              <div class="ease"></div>
            </div>
          </form>
        </div>
</body>
</html>

